<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
</head>
<body>
    
    <div class="container">
        <h1>My Django Project Home</h1>
        <h3>Deploying Django Project on Google cloud App Engine</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto veritatis nihil dolore neque at beatae, magnam, sapiente distinctio in similique aliquam ratione atque culpa corporis fuga dolorum fugit itaque esse.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto veritatis nihil dolore neque at beatae, magnam, sapiente distinctio in similique aliquam ratione atque culpa corporis fuga dolorum fugit itaque esse.</p>
    </div> 

    <!-- <div>
        <table class="colorbox">
            <tr>
                <td id="b1"></td>
                <td id="b2"></td>
                <td id="b3"></td>
            </tr>
        </table>
    </div> -->

    <p> {{ sample_str }} </p>

</body>
</html>